
  
  .wel{
    margin-top: -3rem;
    padding-top: 6rem;
    color: rgb(196, 200, 95);
    font-size: 6rem;
    padding-left: 10rem;
  }
  .move h2{
    padding: 0.5rem 2rem 0.7rem 2rem;
    border-radius: .8rem;
    color: white;
    background-color: rgb(9, 9, 101);
    z-index: 1;
  }
  .firstbtn{
    padding-top:6rem ;
    display: flex;
  }
  .firstbtn button{
    font-size: 1.6rem;
    margin-left: 11rem;
    background-color:rgb(158, 15, 10);
    color: white;
    width: 18rem;
    height: 5rem;
    border-color: rgb(158, 15, 10);
    border-radius: 0.8rem;
  }
  .firstbtn button:hover{
      background-color: rgb(9, 9, 101);
      border-color: rgb(9, 9, 101);
      color: white;
      animation: button-pulse 0.5s ease-in-out ;
  }
  .secondbtn{
    padding-top:2rem ;
    display: flex;
  }
  .secondbtn button{
    font-size: 1.6rem;
    margin-left: 11rem;
    background-color:rgb(158, 15, 10);
    color: white;
    width: 18rem;
    height: 10rem;
    border-color: rgb(158, 15, 10);
    border-radius: 0.8rem;
  }
  .secondbtn button:hover{
    background-color: rgb(9, 9, 101);
    border-color: rgb(9, 9, 101);
    color: white;
    animation: button-pulse 0.5s ease-in-out ;
  }
  @keyframes button-pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .police_unit{
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    background-color:rgb(14, 14, 171);
    color: white;
    position: absolute;
    cursor: pointer;
    top: 50%;
    z-index: 1;
    right: 0;
    transform: translateY(-50%);
    height: 2.5rem;
    width: 12rem;
    font-size: 1.2rem;
    animation: blink 1s infinite;
    transition: transform 0.2s ease-in-out;
  }
  .police_unit:hover{
    transform: translateX(-50%,-50%);
    right: 0;
    margin-right: -20px;
  }
  @keyframes blink {
    0% {
      background-color: red;
    }
    50% {
      background-color: rgb(14, 14, 171);
    }
    100% {
      background-color: red;
    }
  }
  .police{
    width: 12.5rem;
  }
  .pscode{
    top: 60%;
    font-size: 1.1rem;
    text-decoration: none;
    padding-top: 1rem;
    padding-left: .5rem;
  }
  .slider {
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    background-color: black
  }
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s ease;
  }
  @media screen and (min-width: 600px) {
    .slide img {
      width: 100%;
      height: 100%;
    }
  }
  .slide img {
    width: 100%;
    height: 100%;
  }
  
  .current {
    opacity: 1;
    transform: translateX(0);
  }
  .contentss {
    position: absolute;
    top: 23rem;
    left: 5rem;
    opacity: 0;
    width: 50%;
    color: #fff;
    padding: 3rem;
    background: rgba(0, 0, 0, 0.3);
    animation: slide-up 1s ease 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    visibility: hidden;
  }
  
  @keyframes slide-up {
    0% {
      visibility: visible;
      top: 23rem;
    }
    100% {
      visibility: visible;
      top: 17rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    .contentss {
      width: 80%;
    }
  }
  
  .contentss > * {
    color: fff;
    margin-bottom: 1rem;
    margin-left: -0.2rem;
  }
  
  .current .contentss {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease;
  }
  
  .arrow {
    border: 2px solid rgb(18, 18, 18);
    background-color: transparent;
    color: #f8f5f5;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
  }
  .arrow:hover {
    background-color: #fff;
    color: #777;
  }
  
  .next {
    top: 35%;
    right: 1.5rem;
  }
  .prev {
    top: 35%;
    left: 1.5rem;
  }
  
  .hr {
    height: 2px;
    background: white;
    width:50%;
  }